<h1>Snails</h1>
<tbody>
  <% @snails.each do |snail| %>
    <tr>
    	<td><%= snail.name %></td>
    	<td><%= link_to 'Show', snail_path(snail) %></td>
    	<td><%= link_to 'Edit', edit_snail_path(snail) %></td> 
    	<br>
    	<br>
    </tr>
  <% end %>
</tbody>
<br>
<br>
<%= link_to 'Log Out', logout_path, method: :delete %> 